@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;

    --background: #171717;
    /* --background: #1a1c2c; */
    --foreground: #ededed;
  }
}

@layer utilities {
  .section-layout {
    @apply w-full py-24 text-center min-h-screen max-w-5xl mx-auto snap-start border border-gray-900 border-dashed rounded-2xl;
  }
  
  .section-header {
    @apply font-bold text-lg sm:text-xl md:text-4xl mb-5 tracking-wider sm:tracking-widest md:tracking-[5px] text-gray-100 whitespace-nowrap uppercase;
  }

  .section-subheader {
    @apply font-medium text-xs md:text-base tracking-wide md:tracking-[3px] text-gray-400 uppercase;
  }

  .form-input {
    @apply w-full px-3 py-2 md:p-3 text-sm md:text-base border border-gray-300 rounded-lg focus:outline-none;
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
}
